.about{
    display: flex;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.about-left{
    flex: 1;
    display: flex;
    width: 10vw;
    align-items: start;
    justify-content: center;
    padding: 50vh 0;
}

.about-left h2{
    font-size: 3rem;
    margin: 0%;
    position: sticky;
    top:50dvh;
    transform: rotate(-90deg);
}

.about-right{
    flex: 10;
    text-align: right;
    padding: 10rem 0;
}

.item-edu{
    height: 10vh;
    padding: 10rem 20rem 10rem 20rem;
}

.item-edu h3{
    font-size: 2.5rem;
    margin: 0%;
}
.item-edu h4{
    font-size: 1.5rem;
}
.item-edu p{
    font-size: 1.2rem;
}


.about::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width:900px) {

    .about-left h2{
        font-size: 1.5rem;
    }
    .item-edu{
        height: 10vh;
        padding: 10rem 1rem 10rem 1rem;
    }
    .item-edu h3{
        font-size: 1.5rem;
    }
    .item-edu h4{
        font-size: 1rem;
    }
}